<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des étudiants</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2" align="center">

    <h1>Liste des étudiants</h1>
    <table style="width:100%"
           class = "table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Mot de passe </th>
            <th>Enseignants</th>
            <th>Cours</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle sur la liste des étudiants -->
        <th:block th:each="student : ${students}">
            <tr>
                <td th:text="${student.id}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.password}"></td>
                <td>
                    <!-- Boucle sur la liste des enseignants -->
                    <th:block th:each="teacher : ${student.teachers}">
                        <span th:text="${teacher.name}"></span><br/>
                    </th:block>
                </td>
                <td>
<!--                     Boucle sur la liste des cours-->
                    <th:block th:each="note : ${student.notes}">
<!--                        <textarea th:text="${note.cours.title}"></textarea>-->
                        <span th:text="${note.cours.title}"></span><br/>
                    </th:block>

                </td>
                <td>
                    <!-- Boucle sur la liste des notes -->
                    <th:block th:each="note : ${student.notes}">
                        <span th:text="${note.note}"></span><br/>
                    </th:block>
                </td>
                <td>
                    <a class="btn btn-primary mx-2">Update</a>
                    <a th:href="@{/front/students/delete/{id}(id=${student.id})}" class="btn btn-danger mx-2">Delete</a>
                </td>



            </tr>
        </th:block>
        </tbody>
    </table>
<div >
    <form action="/front/students/addStudentPage" method="get">
        <button type="submit" class="btn btn-danger mx-2">Add Student</button>
    </form>

    <form action="/front/teachers/addTeacherPage" method="get">
        <button type="submit" class="btn btn-primary mx-2">Add Teacher</button>
    </form>
</div>
</div>

</body>
</html>
